@tailwind base;
@tailwind components;

html {
  box-sizing: border-box;
}

html > * {
  box-sizing: inherit;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("./fonts/RedHatText-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Red Hat Text Bold";
  src: url("./fonts/RedHatText-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "DM Serif Text";
  src: url("./fonts/DMSerifText-Regular.ttf");
  font-display: swap;
}

:root {
  --jp-indigo:#223843;
  --cream: #C8F0FF;
  --light-blue: #53ABCF;
  --lighter-blue: #67D6FF;
  --greyish-blue: #637780;
  --ochre: #d17a22ff;
  --medium-spring-green: #50ffb1ff;
  --nadeshiko-pink: #efaac4ff;
  --font-red-hat: /*brandon-grotesque, Futura,*/ 'Red Hat Text', 'Mulish', 'Libre Franklin', benton-sans, helvetica,  Helvetica Neue, arial, sans-serif;
  --font-red-hat-bold: /*brandon-grotesque, Futura,*/ 'Red Hat Text Bold', 'Mulish', 'Libre Franklin', benton-sans, helvetica,  Helvetica Neue, arial, sans-serif;
  --font-dm-serif: 'DM Serif Text', benton-modern-display, /* benton-modern-display-conden */ Georgia, Garamond, Times New Roman, serif;
  --font-heading: /*adobe-caslon-pro,*/'DM Serif Text', benton-modern-display, /* benton-modern-display-conden */ Georgia, Garamond, Georgia, Times New Roman, serif;
  --font-body: /*brandon-grotesque, Futura,*/ 'Red Hat Text', 'Mulish', 'Libre Franklin', benton-sans, helvetica, Helvetica Neue, arial, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

p {
  line-height: 1.5;
}

hr {
  height: auto;
  border-top: 1px solid var(--greyish-blue);
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  @apply text-jp-indigo text-lg p-0 m-0;
  font-family: var(--font-red-hat);
  font-weight: regular;
}

main {
  min-height: 100vh;
}

body.nav-open {
  position: fixed;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.skip-link {
  position: absolute;
  left: -9999px;
  top: 5px;
  @apply px-8 py-4 bg-white;
}

.skip-link:focus {
  left: 0;
  z-index: 100;
}

/* .container {
  max-width: 1400px;
} */

.header {
  transition: all 0.25s ease;
}

/* .main-nav {
  transform: none;
} */

@media (max-width: 575px) {
  .header-logo {
    max-width: 120px;
  }
  .main-nav {
    @apply fixed w-full top-0 left-0 p-4 bg-white h-screen shadow-lg;
    visibility: hidden;
    transform: translateX(100%);
  }
  .animate-nav .main-nav {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1), visibility 0.5s ease;
  }
  .animate-nav .main-nav.js-is-open {
    visibility: visible;
    transform: translateX(0);
  }
}

.footer .link,
.main-nav .link {
  @apply no-underline;
}

.main-nav .link.is-active {
  @apply underline text-light-blue;
}

blockquote {
  @apply text-xl my-8 pl-4 relative;
}

blockquote:before {
  content: '“';
  @apply font-dm-serif;
  font-size: 6rem;
  color: var(--light-blue);
  line-height: 1rem;
  font-weight: 700;
}

.drop-capfirst-letter {
  line-height: 2;
}

button {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;
}

.button {
  @apply text-white text-base px-8 py-4 no-underline rounded tracking-wide shadow;
  background: var(--ochre);
  /* font-family: Helvetica Neue, pragmatica, helvetica, arial, sans-serif; */
  font-family: var(--font-red-hat-bold);
  font-weight: 600;
  transition: all 0.2s ease;
  cursor: pointer;
  display: inline-block;
}

.button:hover,
.button:focus {
  background: var(--light-blue);
}

.button.button--white {
  background: #fff;
  color: var(--jp-indigo);
}

.button.button--inverse {
  background: var(--light-blue);;
  color: #fff;
}


.button.button--inverse:hover,
.button.button--inverse:focus {
  background: var(--ochre);
}

.button--small {
  @apply text-base px-4 py-2;
}

@media (min-width: 576px) {
  .button {
    @apply text-xl;
  }

  .button.button--small {
    @apply text-base;
  }
}

.link {
  color: var(--jp-indigo);
  font-family: var(--font-red-hat);
  font-weight: 400;
  transition: all 0.2s ease;

  svg {
    fill: var(--jp-indigo) !important;
  }
}

.link:hover,
.link:focus {
  color: var(--light-blue);

  svg {
    fill: var(--light-blue) !important;
  }
}

.field {
  @apply mb-8;
}

h1, h2, h3, h4 {
  font-family: var(--font-dm-serif);
  font-weight: 700;
  font-weight: normal;
  @apply text-jp-indigo;
}

h1 {
  @apply text-5xl mb-8;
}

h2 {
  @apply text-3xl mb-8;
}

h3 {
  @apply mb-2;
}

.hero {
  @apply w-full flex justify-center flex-col;
  /* height: 70vh; */
  overflow: hidden;
}

@media (min-width: 768px) {
  .hero-image {
    transform: translateY(-50%);
    top: 50%;
  }
}

.hero-bg {
  object-position: center;
  object-fit: cover;
}

/* .hero.h-screen:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 120px;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, #fff);
} */

.bg-gradient {
  @apply bg-jp-indigo text-white flex justify-center flex-col;
  background-color: var(--jp-indigo);
  background: linear-gradient(120deg, var(--jp-indigo) 0%, var(--jp-indigo) 20%, var(--light-blue) 100%);
}

/* .service-grid {
  margin: 0;
  display: grid;
  grid-gap: 2rem;
  padding: 0;
  grid-template-columns: 1fr;
  grid-template-columns: 2; /*repeat(auto-fill, minmax(350px, 1fr));
}

@media (min-width: 768px) {
  .service-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
} */

.responsive-img {
  max-width: 100%;
  height: auto;
}

.service-item-img-container {
  height: 140px;
  width: 100%;
  position: relative;
}

.service-item-img-container img {
  object-fit: contain;
  object-position: left;
  max-width: 140px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: auto;
}

.has-bg {
  @apply relative;
  margin-top: 85px;
}
.has-bg:after {
  content: '';
  width: 60%;
  height: calc(60% + 75px);
  @apply rounded bg-grey-light shadow-md;
  position: absolute;
  top: -95px;
  left: 0px;
  z-index: 1;
}
.has-bg:before {
  content: '';
  width: 60%;
  height: calc(60% + 75px);
  @apply rounded bg-jp-indigo;
  position: absolute;
  top: -85px;
  left: 10px;
  z-index: 0;
}
  @media (min-width: 768px) {
    .has-bg:before {
      top: -75px;
      left: -75px;
    }
    .has-bg:after {
      top: -85px;
      left: -85px;
    }
  }

.has-bg:before,
.has-bg:after {
  height: 75px;
  width: 75px;
}

.services-list li {
  @apply mb-16 block;
}

.newsletter-form {
 max-width: 400px;
 @apply relative;
}

.newsletter-form .button {
  /* border-radius: 0; */
  @apply text-base;
}

.newsletter-form .form-message {
  @apply absolute;
  bottom: -2rem;
}


input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="password"],
select,
textarea {
  @apply p-4 rounded border border-grey-dark w-full text-sm;
  -webkit-appearance: none;
  appearance: none;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

.select-wrap {
  position: relative;
}

.select-wrap:after {
  content: '\2039';
  pointer-events: none;
  position: absolute;
  height: 20px;
  /* width: 20px; */
  right: 1rem;
  top: 50%;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  transform: translateY(-50%) rotate(-90deg);
}

@tailwind utilities;
