@tailwind preflight;

html {
  box-sizing: border-box;
}

html > * {
  box-sizing: inherit;
}

:root {
  --jp-indigo:#223843;
  --cream: #C8F0FF;
  --light-blue: #53ABCF;
  --lighter-blue: #67D6FF;
  --greyish-blue: #637780;
  --font-sans: /*brandon-grotesque, Futura,*/ benton-sans, helvetica,  Helvetica Neue, arial, sans-serif;
  --font-serif: benton-modern-display, /* benton-modern-display-conden */ Georgia, Garamond, Times New Roman, serif;
  --font-heading: /*adobe-caslon-pro,*/ benton-modern-display, /* benton-modern-display-conden */ Georgia, Garamond, Georgia, Times New Roman, serif;
  --font-body: /*brandon-grotesque, Futura,*/ benton-sans, helvetica, Helvetica Neue, arial, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

hr {
  height: auto;
  border-top: 1px solid var(--greyish-blue);
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  @apply .text-jp-indigo .text-lg;
  font-family: var(--font-sans);
}

main {
  min-height: 100vh;
}

body.nav-open {
  position: fixed;
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -9999px;
  top: 5px;
  @apply .px-8 .py-4 .bg-white;
}

.skip-link:focus {
  left: 0;
  z-index: 100;
}

@media (max-width: 575px) {
  .header-logo {
    max-width: 120px;
  }
  .main-nav {
    @apply .fixed .w-full .pin-t .pin-r .p-8 .bg-white .h-screen .shadow-lg;
    display: none;
  }
  .main-nav.js-is-open {
    display: block;
  }
}

.footer .link,
.main-nav .link {
  @apply .no-underline;
}

.main-nav .link.is-active {
  @apply .underline .text-light-blue;
}

blockquote {
  @apply .text-2xl .font-sans .border-l-4 .border-jp-indigo .my-16 .pl-4;
  font-weight: bold;
}

.drop-capfirst-letter {
  line-height: 2;
}

.button {
  @apply .text-white .text-lg .bg-light-blue .px-8 .py-4 .no-underline .rounded;
  /* font-family: Helvetica Neue, pragmatica, helvetica, arial, sans-serif; */
  font-family: var(--font-sans);
  font-weight: 600;
  transition: all 0.2s ease;
  cursor: pointer;
  display: inline-block;
}

.button:hover,
.button:focus {
  @apply .bg-lighter-blue;
}

.button--small {
  @apply .text-lg .px-4 py-2;;
}

@media (min-width: 768px) {
  .button {
    @apply .text-xl;
  }

  .button--small {
    @apply .text-lg;
  }
}

.link {
  @apply .text-jp-indigo;
  font-family: var(--font-sans);
  font-weight: 400;
  transition: all 0.2s ease;

  svg {
    fill: var(--jp-indigo) !important;
  }
}

.link:hover,
.link:focus {
  @apply .text-light-blue;

  svg {
    fill: var(--light-blue) !important;
  }
}

.field {
  @apply .mb-8;
}

h1, h2, h3, h4 {
  font-family: var(--font-serif);
  font-weight: 700;
  @apply .text-jp-indigo;
}

h1 {
  @apply .text-5xl .mb-8;
}

h2 {
  @apply .text-5xl .mb-8;
}

h3 {
  @apply .mb-4;
}

.hero {
  @apply .w-full .flex .justify-center .flex-col;
  height: 70vh;
}

.bg-gradient {
  @apply .bg-jp-indigo .text-white .flex .justify-center .flex-col;
  background-color: var(--jp-indigo);
  background: linear-gradient(120deg, var(--jp-indigo) 0%, var(--jp-indigo) 20%, var(--light-blue) 100%);
}

.service-grid {
  /* margin: 0;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(auto-fill, 2fr); */

  /* @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  } */
}

.responsive-img {
  max-width: 100%;
  height: auto;
}

.service-item + .service-item {
  @apply .mt-24;
}


.services-list {
  @apply .list-reset;
}

.services-list li {
  @apply .mb-16 .block;
}

@tailwind utilities;
